.topbarContainer {
  height: 65px;
  width: 100%;
  background-color: #fccd04;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  flex: 3;
}

.topbarLeft img {
  width: 50px;
  height: 50px;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1.2rem;
  cursor: pointer;
  color: #ffffff;
}

.topbarCenter {
  flex: 4.5;
}

.searchbar {
  position: absolute;
  background-color: white;
  left: 46%;
  transform: translate(-50%, -50%);
  height: 30px;
  display: flex;
  align-items: center;
  line-height: 40px;
  padding: 11px;
  border-radius: 65px;
  cursor: pointer;
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px !important;
  margin-left: 10px;
  color: #a64ac9;
  transition: 0.4s ease;
}

.searchInput {
  color: #a64ac9;
  outline: none;
  border: none;
  line-height: 40px;
  width: 0px;
  float: left;
  font-size: 1rem;
  transition: 0.7s ease;
}

.searchbar:hover > .searchInput,
.searchInput:focus {
  width: 300px;
  margin: 0px 8px;
}

.searchbar:hover > .searchIcon,
.searchInput:focus + .searchIcon {
  padding: 4px;
  background-color: #fccd04;
  color: #ffffff;
}

.topbarRight {
  flex: 4.5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.topbarLink {
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: #a64ac9;
}

.topbarLink span:nth-child(1) {
  margin-right: 2rem;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 1.2rem;
  cursor: pointer;
  position: relative;
  font-family: "Roboto", sans-serif;
}

svg.iconDetail {
  color: #a64ac9;
  height: 1.1em;
  width: 1.1em;
}

.topbarIconBadge {
  width: 1.1rem;
  height: 1.1rem;
  background-color: #17e9e0;
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
