.topbarContainer {
  height: 60px;
  width: 100%;
  background-color: #fccd04;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  flex: 3;
}

.topbarLeft img {
  width: 50px;
  height: 50px;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1.2rem;
  cursor: pointer;
  color: #ffffff;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  background-color: white;
  border-radius: 30px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

.topbarRight {
  flex: 4;
}

.topbarImg {
  width: 32px;
  height: 32px;
}
